@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-backdrop {
  background: rgba(0, 0, 0, 0.5); 
}

.custom-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 85vh; 
    overflow: hidden;
  }
  
  .mat-mdc-dialog-surface {
    padding: 20px;     
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-height: 95vh;   
    overflow-y: auto;  
  }